<a href="https://colab.research.google.com/github/Madurireddy58/jayamadhuri_INFO5731_Spring2020/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**



```
# This is formatted as code
```

(1) Write a Python program to calculate the length of a string. (2 points)

In [17]:
# using string function

string = "Jaya Madhuri"
len(string)

#using without string function

string = "Jaya Madhuri"
total = 0
 
for i in string:
    total = total + 1
 
print("The length of the given String = ", total)

The length of the given String =  12

*italicized text*(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [19]:
 import operator

 def stringToDict(str1):
   str_dict = dict()
   for i in str1:
     count=0
     for s in str1:
       if i == s:
         count+=1
     str_dict[i] = count
   sorted_d = dict( sorted(str_dict.items() , key = operator.itemgetter(1), reverse = True))
   return sorted_d

 string = 'google.com'
 print("Expected Result: " , stringToDict(string))

Expected Result:  {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [20]:
total = 0
list_items = [5,-10,15,-20,25]
for i in range(0, len(list_items)):
    total = total + list_items[i]
print("Sum of all items in a given list: ", total)

Sum of all items in a given list:  15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [21]:
def change_character(string):
  char = string[0]  
  length = len(string)  
  string = string.replace(char, '$')  
  string = char + string[1:]  
  return string  
print(change_character('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [22]:
#function to throw the error

def errordescription(error_desc):
  print(error_desc)
  return
#use function to accept two parameters 
def calculate(a,b):
  if b == 0:
   error("Error: Divide by zero")
  return 3.14 * (1 + a/b)**3
parameter1 = int(input("Enter a parameter value a: "))
parameter2 = int(input("Enter a parameter value b: "))
print("The output result is: " ,calculate(parameter1,parameter2))

Enter a parameter value a: 5
Enter a parameter value b: 2
The output result is:  134.6275

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [23]:
dic1 = { 1: 10, 2: 20}
dic2 = { 3: 30, 4: 40}
dic3 = { 5 : 50, 6 : 60 }
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. 

1.   List item

(3 points)

In [24]:
tuple = ("jaya madhuri", 23 , "Female" , 5731)
element = 23
if element in tuple:
    print(element,"exists in tuple")
else:
    print(element,"does not exist in tuple")

23 exists in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [25]:
set = {24, 25, 27, 29,45}
# find maximum value
print(max(set))
#find minimum value
print(min(set))

45
24

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [29]:
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057',
                'vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768',
                'mv0299','tv0119','dy0091']
group_size = []
for i in range(5):
  group_size.append(random.randint(3,5))

if sum(group_size) == len(student_list):
  print(group_size)
  for j in range(5):
    sample_students = random.sample(student_list,group_size[j-1])
    student_list = [j for j in student_list if j not in sample_students]
    print("students " +str(j+1)+ " : ",sample_students)

[4, 5, 4, 5, 4]
students 1 :  ['rs0850', 'at0739', 'spk0057', 'dd0420']
students 2 :  ['nm0547', 'vmb0067', 'dy0091', 'ds0761']
students 3 :  ['mv0299', 'yye0005', 'sg0940', 'tv0119', 'msp0174']
students 4 :  ['bk0301', 'snd0097', 'pn0159', 'at0768']
students 5 :  ['rrk0058', 'vl0135', 'pc0353', 'ss1995', 'rak0120']